@charset 'UTF-8';

html, body {
  margin: 0;
  padding: 0;
}
h1 {
  letter-spacing : 0.14em ;
  margin-top: 2em;
  margin-bottom: 0.8em;
  color: #FFF;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.04em;
}
p{
  letter-spacing : 0.24em ;
  color: #FFF;
  line-height: 2.4;
  font-weight: lighter;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.8em;
}
video{
  margin-top: 10000px;
  width: 100vw;
  -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -o-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
  border : 20px solid #1f489d ;
}
body{
  background-color: #1f489d;
}

.KV{
  height: 94vh;
  background-color: #e0dcdc;
}
.sub_coment{
  width: 100%;
}
.a{
  width: 70px;
}
.b{
  width: 100vw; /* 任意の幅を指定 */
  height: 100%; /* 任意の高さを指定 */
  object-fit: cover ;
}
.text{
  margin-top: 20vw;
  margin-bottom: 18vw;
  margin-left: 6vw;
  margin-right: 6vw;
}
.footer{
  text-align: center;
  width: 100vw;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: solid 0.6px #fff ;
  border-bottom: solid 0.6px #fff ;
}
.footer_text{
  font-size: 0.4em;
  display: inline-block;
}

#loading{
  background-color: #1f489d;
  width: 70px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}
#main-contents{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text_0{
  font-size:  0.6em;
}
